.square {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.container-grid {
    width: 900px;
    margin: auto;
}



